{% extends 'base.html' %}

{% block title %}
    首頁
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h2 style="margin-bottom: 2%;">{{username}}的回報狀況</h2>
                <ul>
                    <ul>
                        {% for result in submission_results %}
                            <li style="margin-bottom: 5%;">
                                <strong>時間：</strong> {{ result.time }}<br>
                                <strong>風險：</strong> {{ result.severity }}<br>
                                <strong>類型：</strong> {{ result.vulnerability_type }}<br>
                                <strong>敘述：</strong> {{ result.attack_description }}
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
